In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.2)

In [ ]:
# Census-Income (KDD) Data Set
# https://archive.ics.uci.edu/ml/machine-learning-databases/census-income-mld/

In [ ]:
import numpy as np
from pyspark.sql import SparkSession
import pandas as pd

In [ ]:
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
dataframe = pd.read_csv('/content/census-income.data')
dataframe.head()

   73                  Not in universe   0   0.1  ...  2   0.8  95   - 50000.
0  58   Self-employed-not incorporated   4    34  ...  2    52  94   - 50000.
1  18                  Not in universe   0     0  ...  2     0  95   - 50000.
2   9                  Not in universe   0     0  ...  0     0  94   - 50000.
3  10                  Not in universe   0     0  ...  0     0  94   - 50000.
4  48                          Private  40    10  ...  2    52  95   - 50000.

[5 rows x 42 columns]

In [ ]:
# # information from data table
# # 1. column names 
# print(list(dataframe.columns))
# col_names = list(dataframe.columns) 
# # 2. column data types
# size = len(col_names)
# for i in range(size):
#    print(col_names[i],dataframe.dtypes[i])

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
#Encode dataframe
LE = LabelEncoder()
dataframe[' Not in universe'] = LE.fit_transform(dataframe[' Not in universe'])
dataframe[' High school graduate'] = LE.fit_transform(dataframe[' High school graduate'])
dataframe[' Widowed'] = LE.fit_transform(dataframe[' Widowed'])
dataframe[' Not in universe or children'] = LE.fit_transform(dataframe[' Not in universe or children'])
dataframe[' Female'] = LE.fit_transform(dataframe[' Female'])
dataframe[' Not in labor force'] = LE.fit_transform(dataframe[' Not in labor force'])
dataframe[' Other Rel 18+ ever marr not in subfamily'] = LE.fit_transform(dataframe[' Other Rel 18+ ever marr not in subfamily'])
dataframe[' Other relative of householder'] = LE.fit_transform(dataframe[' Other relative of householder'])
dataframe[' United-States'] = LE.fit_transform(dataframe[' United-States'])
dataframe[' Native- Born in the United States'] = LE.fit_transform(dataframe[' Native- Born in the United States'])
print(dataframe[:])

        73   Not in universe   0   0.1  ...   2   0.8  95   - 50000.
0       58                 6   4    34  ...   2    52  94   - 50000.
1       18                 3   0     0  ...   2     0  95   - 50000.
2        9                 3   0     0  ...   0     0  94   - 50000.
3       10                 3   0     0  ...   0     0  94   - 50000.
4       48                 4  40    10  ...   2    52  95   - 50000.
...     ..               ...  ..   ...  ...  ..   ...  ..        ...
199517  87                 3   0     0  ...   2     0  95   - 50000.
199518  65                 5  37     2  ...   2    52  94   - 50000.
199519  47                 3   0     0  ...   2    52  95   - 50000.
199520  16                 3   0     0  ...   2     0  95   - 50000.
199521  32                 4  42    30  ...   2    52  94   - 50000.

[199522 rows x 42 columns]

In [ ]:
dataframe = dataframe.apply(LabelEncoder().fit_transform)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
#Scale dataframe
dataframe = MinMaxScaler().fit_transform(dataframe)
dataframe

array([[0.64444444, 0.75      , 0.07843137, ..., 1.        , 0.        ,
        0.        ],
       [0.2       , 0.375     , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.1       , 0.375     , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.52222222, 0.375     , 0.        , ..., 1.        , 1.        ,
        0.        ],
       [0.17777778, 0.375     , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.35555556, 0.5       , 0.82352941, ..., 1.        , 0.        ,
        0.        ]])

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# Split and RDD data
split_data, test_data = train_test_split(dataframe, test_size=100)
data_rdd_train = spark.sparkContext.parallelize(split_data)
data_rdd_train.take(5)

[array([0.48888889, 0.5       , 0.84313725, 0.2173913 , 0.875     ,
        0.        , 1.        , 0.33333333, 0.2173913 , 0.71428571,
        1.        , 0.        , 0.        , 0.5       , 0.6       ,
        0.14285714, 0.        , 0.        , 0.28842248, 0.4       ,
        0.6       , 0.72      , 1.        , 1.        , 0.70640988,
        0.        , 0.        , 0.        , 0.5       , 0.        ,
        0.33333333, 1.        , 0.76190476, 0.95238095, 0.95238095,
        1.        , 0.        , 0.5       , 1.        , 0.75      ,
        1.        , 0.        ]),
 array([0.94444444, 0.375     , 0.        , 0.        , 0.3125    ,
        0.        , 1.        , 0.66666667, 0.60869565, 0.42857143,
        1.        , 0.        , 0.        , 0.5       , 0.6       ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.6       , 0.72      , 0.7027027 , 0.85714286, 0.64955561,
        0.77777778, 0.75      , 0.77777778, 1.        , 0.66666667,
        0.        , 1.        , 0.95238095, 0.95238095, 0.95238095,
        1.        , 0.        , 0.5       , 1.        , 0.        ,
        0.        , 0.        ]),
 array([0.48888889, 0.5       , 0.07843137, 0.73913043, 0.75      ,
        0.        , 1.        , 0.33333333, 0.17391304, 0.57142857,
        1.        , 0.        , 1.        , 0.5       , 0.6       ,
        0.14285714, 0.        , 0.        , 0.        , 0.4       ,
        0.6       , 0.72      , 0.54054054, 0.57142857, 0.38690768,
        0.        , 0.        , 0.        , 0.5       , 0.        ,
        0.5       , 1.        , 0.95238095, 0.95238095, 0.95238095,
        1.        , 0.        , 0.5       , 1.        , 0.71153846,
        1.        , 0.        ]),
 array([0.86666667, 0.375     , 0.        , 0.        , 0.25      ,
        0.        , 1.        , 1.        , 0.60869565, 0.42857143,
        1.        , 0.        , 0.        , 0.5       , 0.6       ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.6       , 0.72      , 0.59459459, 0.57142857, 0.24583413,
        0.77777778, 0.75      , 0.77777778, 1.        , 0.66666667,
        0.        , 1.        , 0.23809524, 0.04761905, 0.95238095,
        1.        , 0.        , 0.5       , 1.        , 0.        ,
        0.        , 0.        ]),
 array([0.56666667, 0.375     , 0.        , 0.        , 1.        ,
        0.        , 1.        , 0.        , 0.60869565, 0.42857143,
        1.        , 0.        , 0.        , 0.5       , 0.6       ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.4       , 0.42      , 0.54054054, 0.57142857, 0.15306767,
        0.33333333, 1.        , 1.        , 0.        , 0.33333333,
        0.66666667, 1.        , 0.95238095, 0.95238095, 0.95238095,
        1.        , 0.        , 0.5       , 1.        , 0.5       ,
        0.        , 0.        ])]

In [ ]:
import math

In [ ]:
# function to get distane
def get_distance(point1, point2):
  distance = np.sum((point1 - point2)**2)
  return distance

In [ ]:
# func KNN
def calcKNN(rdd_train, p):
  rdd = data_rdd_train.map(lambda x: (x[-1], get_distance(x[:-1], p[:-1])))
  return rdd.sortBy(lambda x: x[1], ascending=True).take(1)[0][0]

In [ ]:
import time

In [ ]:
# data_rdd_test = spark.sparkContext.parallelize(test_data)
# start = time.time()
# result = data_rdd_test.map(lambda x: calcKNN(data_rdd_train, x))
# print(time.time() - start)

0.0003142356872558594

In [ ]:
# result.collect()

In [ ]:
# Calc KNN
start = time.time()
result = []
for i in test_data:
  result.append(calcKNN(data_rdd_train, i))
print(time.time() - start)

879.9534842967987

In [ ]:
# Count Accurancy
temp = 0
for i in range(len(test_data)):
  if result[i] == np.array(test_data[i][-1], dtype=np.float64):
    temp = temp + 1
print('Accurancy: ', temp/len(test_data))

Accurancy:  0.96

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(result, test_data[:,-1]))

              precision    recall  f1-score   support

         0.0       0.97      0.99      0.98        96
         1.0       0.50      0.25      0.33         4

    accuracy                           0.96       100
   macro avg       0.73      0.62      0.66       100
weighted avg       0.95      0.96      0.95       100



---